<img id="background-create-goals" src="public/images/frame-by-frame.jpg">

{{#link-to 'home'}}<div id="goalkeeper-circle">
  <center id="title-logo">Goalkeeper</center>
</div>{{/link-to}}


<form class="form-inline" id="form-create-goals" role="form">
  {{input value=name placeholder="Name your target" class='form-control' id="target-name-create"}}
  <br>
  <label class='align-labels'>I am going to</label>
  <select class="form-control" id="pick-goal">
    <option>play more</option>
    <option>read more</option>
    <option>run more</option>
    <option>travel more</option>
  </select>
  <br>
  <label class="align-labels">Starting on</label>
    {{input type="date" value=start_date id="start-date"}}
  <div class="goal-steps">
    <label class='align-labels'>For the next</label>
    <input type="number" class='form-control' id='target-duration' placeholder='#'>
    <select class='form-control' id='time-unit'>
      <option>days</option>
      <option>weeks</option>
      <option>months</option>
      <option>years</option>
    </select>

    <label>I will run a total of </label>
    <input type='text' class='form-control' id='total-distance' placeholder='#'>
    <select class='form-control' id='distance-unit'>
      <option>miles</option>
      <option>kilometers</option>
    </select>
    <label>and I will run...</label>
    <br>
    <label class="align-labels">At least </label>
    {{input type="number" class='form-control' id='frequency' placeholder='#'}}
    <label>times every</label>
    <select class='form-control' id='frequency-unit'>
      <option>week</option>
      <option>month</option>
    </select>
    <label>.</label>

    <button type='button' class='btn btn-primary' id='go-to-run-goal-button' {{action "createTarget"}}>Go!</button>
  </div>
</form>
