#logo {
  width: 200px;
  margin: 2rem;
}

.signUp {
    display: block;
}

.userId {
    border: 3px solid teal;
    padding: 2px;
}

.profile_pic {
  background: url(../images/merkes_profile.jpg) no-repeat;
  float: right;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  margin: 2rem 2rem;
}

.profile_pic:hover {
  border: 4px solid #317eac;
}
