/*Embedding Non-Standard Fonts*/
@font-face {
  font-family: 'GeosansLight';
  src: url(fonts/GeosansLight.woff) format('woff');
}

#goalkeeper-circle-login {
  width: 80px;
  height: 80px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  margin: auto;
  z-index: 2000;

  background-color: rgba(204, 0, 102, 0);
  border: 3px solid #FFFFFF;
}

#title-login {
  top: 45%;
  margin-top: -0.5em;
  position: relative;

  color: #FFFFFF;
}

#accordion {
  margin-top: 50px;
}

#sign-up-button {
  margin-top: 10px;
}
