<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale-1.0, maximum-scale=1.0">
  <style>
    body
    {
      margin: 0 auto 0;
      font-size: 0;
      max-width: 1200px;
    }

    /* Default Styling / Mobile */
    .gallery-item
    {
      display: inline-block;
      width: 100%;
      height: 200px;
      background-repeat: none;
      background-position: center;
      /* make the content fit within the context (<div>) you define */
      background-size: cover;
    }

    /* Tablet Styling - Progressively Enhanced */
    /* break points */
    @media (min-width: 560px)
    {
      .gallery-item:last-child
      {
        width: 100%;
        height: 500px;
      }

      .gallery-item
      {
        width: 50%;
        height: 300px;
      }
    }

    /* Desktop Styling - Progressively Enhanced */
    @media (min-width: 901px)
    {
      .gallery-item:first-child
      {
        width: 100%;
        height: 500px;
      }

      .gallery-item, .gallery-item:last-child
      {
        width: 50%;
        height: 300px;
      }
    }
  </style>
</head>
<body>
  <div class="gallery-item" style="background-image: url('/images/one.jpg')">
  </div>
  <div class="gallery-item" style="background-image: url('/images/two.jpg')">
  </div>
  <div class="gallery-item" style="background-image: url('/images/three.jpg')">
  </div>
</body>
