/*Embedding Non-Standard Fonts*/
@font-face {
  font-family: 'GeosansLight';
  src: url(fonts/GeosansLight.woff) format('woff');
}

/*Styling for HTML elements*/
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#goalkeeper-banner {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
  background-color: #000000;
  font-family: 'GeosansLight';
  color: #FFFFFF
}

.pic {
  height: 50%;
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
}
