.full-circle {
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid #333;
  height: 150px;
  width: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  position: absolute;
  z-index: 2000;
}

.pic {
  z-index: 0
}
