<div id="container">
  <div id="goalkeeper-circle">
    <center id="title-logo">Goalkeeper</center>
  </div>

  <div id="create-circle">
    {{#link-to 'targets.create' class="signUp"}}
      <center id="create-logo1">Create</center>
      <center id="create-logo2">Goal</center>
    {{/link-to}}
  </div>

  <div id="pic-circle" {{action 'goTarget'}}></div>
  <div id="line1"></div>
  <div id="line2"></div>
  <div id="line3"></div>
  <div id="line4"></div>
</div>
