<div id="goalkeeper-circle-index">
  <center id="title">Goalkeeper</center>
</div>

<p class="text" id="goal1">Play more</p>
<p class="text" id="goal2">Travel more</p>
<p class="text" id="goal3">Run more</p>
<p class="text" id="goal4">Laugh more</p>

<button class="btn btn-default" id="get-started-button" {{action 'go_login'}}>Get Started</button>

<img class="pic" id="pic1" src="public/images/friends2.jpg" />
<img class="pic" id="pic2" src="public/images/couple-travel.jpg" />
<img class="pic" id="pic3" src="public/images/woman-running.jpeg" />
<img class="pic" id="pic4" src="public/images/man-laughing.jpg" />

<div class="goal-circle" id="goal-circle1"></div>
<div class="goal-circle" id="goal-circle2"></div>
<div class="goal-circle" id="goal-circle3"></div>
<div class="goal-circle" id="goal-circle4"></div>

<label id="text1">Do more</label>
<label id="text2">Live more</label>
