<div class="container">
  <div id="goalkeeper-circle-login">
    <center id="title-login">Goalkeeper</center>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Log In</h4>
      </div>
        <div class="panel-body">
          <form class="form-signin" role="form">
            {{input type="email" id="email" class="form-control input-topper" placeholder="Email address" value=email}}
            {{input type="password" id="password" class="form-control input-topper" placeholder="Password" value=password}}
            <button class="btn btn-lg btn-primary btn-block" id="login-button" {{action "login"}}>Let&#39;s Go!</button>
            {{#link-to 'signup' class="signUp"}}No account&#63; Signup{{/link-to}}
          </form>
        </div>
    </div>
  </div>
</div>
