<div class="container">
  <div id="goalkeeper-circle-login">
    <center id="title-login">Goalkeeper</center>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Signup</h4>
        {{#if message}}
        asdfg
        {{/if}}
      </div>
        <div class="panel-body">
          <form class="form-signup" role="form" action="/signup" method="post">
            {{input type="email" id="email" class="form-control input-topper" placeholder="Email address" name="email"}}
            {{input type="password" id="password" class="form-control input-topper" placeholder="Password" name="password"}}
            <button class="btn btn-lg btn-primary btn-block" id="login-button" type="submit">Let&#39;s Go!</button>
          </form>
          {{#link-to 'login' class="signUp"}}Already registered&#63; Login{{/link-to}}
        </div>
    </div>
  </div>
</div>
