{{#link-to type target.id}}
<div class='circle'>
  <div class='mask full'>
    <div class='fill'></div>
  </div>
  <div class='mask half'>
    <div class='fill'></div>
  </div>
  <center class='goal-name'>{{target.name}}</center>
</div>
{{/link-to}}
