{{#link-to type target.id title=target.name}}
<div class='circle'>
  <div class='mask full'>
    <div class='fill'></div>
  </div>
  <div class='mask half'>
    <div class='fill'></div>
  </div>
  <center class='goal-name'></center>
</div>
{{/link-to}}
